@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* Acegura que padding e margin sejam
    incluidos nas dimensões totais do elemento */
    box-sizing: border-box;
}
body{
    color:azure;
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
.logo{
    font-family: Teko;
    font-size: 2rem;
    color: azure;
}
nav{
    background-color: rgb(255, 255, 255);
    max-width: 1120px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    right: auto;
}
li{
    list-style: none;
}
li > a{
    color: rgb(0, 0, 0);
}
.acessar{
    color: rgb(0, 0, 0);
    
}
.banner-cafe{
    max-width: 1120px;
    height: 60vh;
    margin: auto;
}
.banner-cafe > img{
    width: 100%;
    box-shadow: 10px 0px 20px rgb(255, 255, 255);
    border-radius: 2px;
    opacity: 0.7;
}
.banner-novidades{
    max-width: 1120px;
    height: 60vh;
    margin: auto;
    padding: 0rem 2rem;
    gap: 6rem;
    display: flex;
    justify-content: space-between;
}
.banner-conteudo{
    /* Organizamos o conteúdo em coluna */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.banner-imagens{
    /* Definir largura máxima */
    max-width: 45%;
    /* Exibir as imagens em 4 colunas */
    column-count: 4;
}
.banner-imagens > figure > img{
    width: 100%;
    border-radius: 5px;
}

/* Criando scrool para cards */
.card-novo{
    display: flex;
    overflow: scroll;
    gap: 3rem;
    margin: auto;
    max-width: 1120px;
}

/* Removendo a barra de scrool */
.card-novo::-webkit-scrollbar{
    display: none;
}

.receitas{
    /* Organizando em colunas */
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 2.5rem 2rem;
    margin: auto;
}

.cabecario-card{
    background: rgb(90,28,0);
    background: linear-gradient(90deg, rgba(90,28,0,1) 0%, rgba(202,121,74,1) 50%, rgba(90,28,0,1) 100%);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card{
    margin-left: 40px;
    border: 1px solid snow;
    border-radius: 10px;
    box-shadow: 10px 0px 20px rgba(89, 40, 0, 0.452);
    max-width: 260px;
}

.rodape-card{
    background: rgb(90,28,0);
    background: linear-gradient(90deg, rgba(90,28,0,1) 0%, rgba(202,121,74,1) 50%, rgba(90,28,0,1) 100%);;
    padding: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button{
    width: 80px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 4px;
}

/* Mapa */
.mapa{
    max-width: 1120px;
    width: 600px;
    height: 400px;
    /* Aplica papel de parede a nossa div */
    background-image: url(../img/mapa.png);
    background-repeat: no-repeat;
    /* Aplica o tamanho da imgem em todo o espaço */
    background-size: cover;
    margin: 20px auto;
    position: relative;
}

.icone{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    cursor: pointer;
    font-size: 18px;
}

.icone1{
    top: 40px;
    left: 100px;

}

.icone2{
    top: 100px;
    left: 220px;
    
}

/* Criando um elemento que não ira aparecer na tela */
.div-hover{
    /* Escondendo a imagem; */
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 500px;
    height: 400px;
}

.icone:hover .div-hover{
    /* Mostrando a imagem */
    display: block;
    position: absolute;
    top: 15%;
    left: 37%;
}